*{
	margin: 0 ,auto;
	padding: 0;
	box-sizing: border-box;
}
/*css for header --*/
header{
	width: 100%;
	height: 80px;
	margin: 0 auto;
}
/*css for nav bar*/
.active a{
		background-color:black;
	color: #ff7200;
	}


.nav{
	background:  #abdbe3;
}
ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul li{
	float: right;
	display: inline-block;
	list-style: none;
	margin: 50px;
	margin-top: 0px;
	font-size: 14px;
}
ul li a {
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}
ul li a:hover{
	background-color:black;
	color: #ff7200 ;

}
.logo{
	float: left;
	width: 200px;
	height: 70px;
}
.icon{
	color: #ff7200; font-size: 35px; font-family: Arial; padding-top: 10px;padding-bottom: 15px;
}
.
	
		/* css for product page*/
	.eight{
		display: flex;
		display: block;
	}
	.fourth{
		display: flex;
		flex-direction: row;
		padding: 10px 0;
		font-size: 18px;
		margin-bottom: 30px;
		height: 350px;
		width: 100%;
	}
	.contain{
		width: 250px;
		height: 300px;
		margin-left: 50px;
	}
	.contain:hover
	{
		transform: scale(1.05);
	}
	.contain img:hover{

	}
	.header:hover{
		background-color:black;
	color: #ff7200 ;

	}
	.contact{
		position: relative;
		min-height: 100px ;
		padding: 50px 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: lightslategrey;
		width: 100%;
		background-size: cover;

	}
	

	.contact .justify-content{
			max-width: 800px;
			text-align: center;
	}
	.contact .content h2
	{
		font-size: 36px;
		font-weight: 500;
		color: #fff;
	}
	.contact .content p
	{
		font-weight: 300;
		color: #fff;
	}
	.container{
		width: 100%;
		display: flex;
		justify-content:  space-around;
		align-items: center;
		margin-top: 30px;
		float: right;
	}
	.container .contactin{
			width: 50%;
			display: flex;
			flex-direction: column;
			float: left;
	}
	.container .contactin .club{
		position: relative;
		padding: 20px 0 ;
		display: flex;
		float: right;
	}
	.container .contactin .club .box{
		min-width: 60px;
		height: 60px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-size: 22px;
	}
.container .contactin .club .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.container .contactin .club .text h3
{
	font-weight: 500;
	color: #00bcd4;

}
.contactform{
	width: 40%;
	padding: 40px;
	background: #fff;
	float: left;

}
.contactform h2{
	font-size: 25px;
	color: #333;
	font-weight: 500;
}
.contactform .inputbox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactform .inputbox input, 
.contactform .inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;

}
.contactform .inputbox .span
{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactform .inputbox input[ type ="Submit"]
{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
/* css for footer part*/

.right{
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-style: bold;

}
.section{
	background-color: #edb879;
	height: 20%;
	width: 100%;
}
.five{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 500px;
}
.five a{
	text-decoration: none;
	color: #010710;
}
#six{
	width: 25%;
	display: block;
	text-align: justify;
	margin: 30px;
	margin-left: 100px;
}
.ii{
	width: 25%;
	display: block;
	text-align: justify;
	margin: 100px;
	margin-right: 10px;
}
.ii a{
	text-decoration: none;
}
.ii auto{
	margin: 0 0px;
}
.ii img{
	width: 35px;
	height: 25px;
}
.ii a:hover{
	color: #DB1D23;
	font-size: 20px;
	text-decoration: none;
}
.one{
	width: 25%;
	display: block;
	text-align: justify;
	margin: 30px;
	float: left;
	margin-left: 100px;
}
.two{
	width: 25%;
	
	text-align: justify;
	margin: 80px;
	justify-content: space-around;
	margin-left: 200px;
	
}
.two a{
	text-decoration: none;
}
.two a:hover{
	color: #DB1D23;
	font-size: 20px;
	text-decoration: none;
}
/* Css for blog*/
.blog{
	font-size: 16px;
	font-family: Arial;
	text-align: justify;
	margin-left: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 4px;
}